<!DOCTYPE html>

<html>
<head>
    <title>Pajns Ltd FAQs</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
    </script>
    <!--//tags -->
    <link href="~/Contents/Home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Contents/Home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Contents/Home/css/font-awesome.css" rel="stylesheet">
    <!--pop-up-box-->
    <link href="~/Contents/Home/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="~/Contents/Home/css/jquery-ui1.css">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <div class="header-most-top">

    </div>
    <!-- //top-header -->
    <!-- header-bot-->
    <div class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <!-- header-bot-->
            <div class="col-md-4 logo_agile">
                <h1>
                    <a href="index.html">
                        <span>P</span>ajns
                        <span>L</span>td

                    </a>
                </h1>
            </div>
            <!-- header-bot -->
            <!-- signup Model -->
            <!-- //Modal2 -->
            <!-- //signup Model -->
            <!-- //header-bot -->
            <!-- navigation -->
            <div class="ban-top">
                <div class="container">

                    <div class="top_nav_left">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav menu__list">
                                        <li class="nav-stylehe">

                                            <a class="nav-stylehead" href="../Home/Index">Home</a>

                                        </li>
                                        <li class="nav-stylehe">
                                            <a class="nav-stylehead" href="#About">About Us</a>
                                        </li>
                                        <li class="nav-stylehe">
                                            <a class="nav-stylehead" href="#Contact">Contact Us</a>
                                        </li>
                                        <li class="active">
                                            <a class="nav-stylehead" href="#faqs">Faqs</a>
                                            <span class="sr-only">(current)</span>
                                        </li>
                                        <li class="nav-stylehe">
                                            <a class="nav-stylehead" href="../Home/Login">Login</a>
                                        </li>

                                    </ul>


                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- //navigation -->
            <!-- banner-2 -->
            <div class="page-head_agile_info_w3l">

            </div>
            <!-- //banner-2 -->
            <!-- page -->
            <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">
                    <div class="container">
                        <ul class="w3_short">
                            <li>
                                <a class="" href="../Home/Index">Home</a>

                                <i>|</i>
                            </li>
                            <li>Faqs</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //page -->
            <!-- FAQ-help-page -->
            <div class="faqs-w3l">
                <div class="container">
                    <!-- tittle heading -->
                    <h3 class="tittle-w3l">
                        Faqs
                        <span class="heading-style">
                            <i></i>
                            <i></i>
                            <i></i>
                        </span>
                    </h3>
                    <!-- //tittle heading -->
                    <h3 class="w3-head">Top 5 Frequently asked questions</h3>
                    <div class="faq-w3agile">
                        <ul class="faq">
                            <li class="item1">
                                <a href="#" title="click here">
                                    Where is Pajns Ltd. Cleaning & Ironing located?
                                </a>
                                <ul>
                                    <li class="subitem1">
                                        <p>
                                            We have office located in Auckland, from which we service a variety of industries.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li class="item2">
                                <a href="#" title="click here">
                                    What does Pajns Ltd. Cleaning & Ironing specialise in?

                                </a>
                                <ul>
                                    <li class="subitem1">
                                        <p>
                                            Pajns Ltd. a wide range of industries. Some of our key focus areas are:
                                            •	Office Cleaning
                                            •	Educational Cleaning: Childcare centres, Primary & Secondary Schools, Tertiary Institutions & Training Centres
                                            •	Retail Cleaning
                                            •	Medical Cleaning: GP clinics, dentists, laboratories, nursing homes, rehabilitation centres.
                                            •	Industrial Cleaning: Truck cleaning, factory cleaning, hard industrial, soft industrial, manufacturing.
                                            •	Sports and Leisure Cleaning; and
                                            •	Hospitality: Bars, restaurants, hotels, cafes, nightclubs, pubs.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li class="item3">
                                <a href="#" title="click here">How do I become a franchisee?</a>
                                <ul>
                                    <li class="subitem1">
                                        <p>Pajns Ltd. offers outstanding franchise opportunities. To become a franchisee in the Pajns Ltd. team, you’ll need passion, determination and drive to run the very best of franchises. You’ll be proactive and embrace innovation in all areas of cleaning and customer service. But more than anything, you’ll be a people person, dedicated to partnering with our clients, and going above and beyond to deliver customised cleaning solutions in a wide variety of industries.</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="item4">
                                <a href="#" title="click here">What sets you apart from other commercial cleaners?</a>
                                <ul>
                                    <li class="subitem1">
                                        <p>
                                            Although we are now a part of a large company, at our heart – we are a family-run business built on strong family values. Our values are embedded in our culture, extending from our senior management to our operatives, with personal relationships at the forefront of everything we do. We are passionate about providing exceptional, industry-leading service for our clients.
                                            We also have triple certification (WH&S, Environmental and Quality Management Assurance), which speaks volumes of our approach to continual improvement and industry-leading standards and sets us apart from our competitors.

                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li class="item5">
                                <a href="#" title="click here">Do you use non-toxic cleaning products?</a>
                                <ul>
                                    <li class="subitem1">
                                        <p>Absolutely. Our cleaning products are earth and human friendly, safe and effective – yielding a healthier outcome for our people, your people and the environment.</p>
                                    </li>
                                </ul>
                            </li>



                        </ul>
                    </div>
                </div>
            </div>
            <!-- //FAQ-help-page -->
            <!-- newsletter -->
            <div class="footer-top" id="Contact">
                <div class="container-fluid">
                    <div class="col-xs-8 agile-leftmk">
                        <h2>
                            Get In Touch With Us

                        </h2>
                        <p> <i class="fa fa-map-marker"></i> 586 Great South Road, Ellerslie</p>
                        <p>Auckland, New Zealand</p>
                        <p><i class="fa fa-phone"></i>  +64 22 033 0786</p>
                        <p>
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:example@mail.com"> pajnsltd@gmail.com</a>
                        </p>
                        <div class="newsform-w3l">
                            <span class="fa fa-envelope-o" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="col-xs-4 w3l-rightmk">
                        <img src="~/Contents/Home/images/tab3.png" alt=" ">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //newsletter -->

            <footer>
                <div class="container">
                    <!-- footer first section -->
                    <p class="footer-main" id="About">
                        <span>"Pajns Ltd"</span> We’re one of the New Zealand’s health-focused, dedicated environmentally kinder cleaning company. We offer both residential and commercial cleaning services to customers right across Auckland.
                    </p>

                    <div class="clearfix"></div>
                </div>


                <!-- //footer fourth section (text) -->
            </footer>
        </div>
    </div>
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right">
        <div class="container">
            <p>
                © 2017 Pajns Ltd. All rights reserved
            </p>
        </div>
    </div>
    <!-- //copyright -->
    <!-- js-files -->
    <!-- jquery -->
    <script src="~/Contents/Home/js/jquery-2.1.4.min.js"></script>
    <!-- //jquery -->
    <!-- popup modal (for signin & signup)-->
    <script src="~/Contents/Home/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- Large modal -->
    <!-- <script>
        $('#').modal('show');
    </script> -->
    <!-- //popup modal (for signin & signup)-->
    <!-- cart-js -->
    <script src="~/Contents/Home/js/minicart.js"></script>
    <script>
        paypalm.minicartk.render(); //use only unique class names other than paypal1.minicart1.Also Replace same class name in css and minicart.min.js

        paypalm.minicartk.cart.on('checkout', function (evt) {
            var items = this.items(),
				len = items.length,
				total = 0,
				i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            if (total < 3) {
                alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                evt.preventDefault();
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- script for tabs -->
    <script>
        $(function () {

            var menu_ul = $('.faq > li > ul'),
				menu_a = $('.faq > li > a');

            menu_ul.hide();

            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });

        });
    </script>
    <!-- script for tabs -->
    <!-- password-script -->
    <script>
        window.onload = function () {
            document.getElementById("password1").onchange = validatePassword;
            document.getElementById("password2").onchange = validatePassword;
        }

        function validatePassword() {
            var pass2 = document.getElementById("password2").value;
            var pass1 = document.getElementById("password1").value;
            if (pass1 != pass2)
                document.getElementById("password2").setCustomValidity("Passwords Don't Match");
            else
                document.getElementById("password2").setCustomValidity('');
            //empty string means no validation error
        }
    </script>
    <!-- //password-script -->
    <!-- smoothscroll -->
    <script src="~/Contents/Home/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/Contents/Home/js/move-top.js"></script>
    <script src="~/Contents/Home/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
			};
			*/
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/Contents/Home/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
</body>
</html>
