<!DOCTYPE html>

<html>
<head>
    <title>Pajns Cleaning And Ironing Services</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->
    <link href="~/Contents/Home/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Contents/Home/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Contents/Home/css/font-awesome.css" rel="stylesheet">
    <!--pop-up-box-->
    <link href="~/Contents/Home/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="~/Contents/Home/css/jquery-ui1.css">
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>
<body>
    <div class="header-most-top">
    </div>
    <!-- //top-header -->
    <!-- header-bot-->
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <!-- header-bot-->
            <div class="col-md-4 logo_agile">
                <h1>
                    <a href="#">

                        <img src="~/Contents/Home/images/logo.jpg" alt=" ">
                    </a>
                </h1>
            </div>
            <!-- header-bot -->
            <div class="col-md-8 header">
                <!-- header lists -->
                <!-- //header lists -->
                <!-- search -->
                <!-- //search -->
                <!-- cart details -->
                <!-- //cart details -->
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    
    <!-- shop locator (popup) -->
   
    <!-- navigation -->
    <div class="ban-top">
        <div class="container">
    
            <div class="top_nav_left">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
          
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu__list">
                                <li class="active">
                                    <a class="nav-stylehead" href="index.html">
                                        Home
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-stylehe">
                                    <a class="nav-stylehead" href="#About">About Us</a>
                                </li>

                                <li class="nav-stylehe">
                                    <a class="nav-stylehead" href="#Services">Services</a>
                                </li>
                                <li class="nav-stylehe">
                                    <a class="nav-stylehead" href="#Contact">Contact Us</a>
                                </li>
                           
                                <li class="">
                                    <a class="nav-stylehead" href="../Home/FAQS">FAQ</a>
                                </li>
                                <li class="">
                                    <a class="nav-stylehead" href="../Home/Login">Login</a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- //navigation -->
    <!-- banner -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>
                            PAJNS
                            cleaning and ironing services
                        </h3>
                    </div>
                </div>
            </div>
            <div class="item item2">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>
                            PAJNS
                            cleaning and ironing services
                        </h3>
                    </div>
                </div>
            </div>
            <div class="item item3">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>
                            PAJNS
                            cleaning and ironing services
                        </h3>
                    </div>
                </div>
            </div>
            <div class="item item4">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>
                            PAJNS
                            cleaning and ironing services
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- //banner -->
    <!-- top Products -->
    <div class="ads-grid">
        <div class="container">
            <!-- tittle heading -->
            <h3 class="tittle-w3l" id="About">
                About Us
                <span class="heading-style">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </h3>
            <!-- //tittle heading -->
            <!-- product left -->
           
            <!-- //price range -->
            <!-- food preference -->
        
            <!-- //food preference -->
            <!-- discounts -->
         
            <!-- //discounts -->
            <!-- reviews -->
           
            <!-- //reviews -->
            <!-- cuisine -->
           
            <!-- //cuisine -->
            <!-- deals -->
            
            <!-- //deals -->
        </div>
        <!-- //product left -->
        <!-- product right -->
        <div class="agileinfo-ads-display col-md-12">
            <div class="wrapper">
                <!-- first section (nuts) -->
                <div class="product-sec1">
                    <h3 class="heading-tittle">Our Mission</h3>
                    <div class="col-md-12 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">

                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info-product ">

                                <div class="info-product-price">
                                    <span class="item_price">
                                        <p>	Pajns Ltd. cleaning company is committed to providing the highest quality residential, and commercial cleaning service available by exceeding the expectations of our clients, as well as their employees, patients, students, and other visitors to their premises or facilities.</p>

                                        <p>Management Functions,
                                        Planning,

                                        Organising,
                                        Leading,

                                        Controlling</p>
                                    </span>

                                </div>
                              

                            </div>
                        </div>
                    </div>
                   
                    <div class="clearfix"></div>
                </div>
                <!-- //first section (nuts) -->
                <!-- second section (nuts special) -->
                <div class="product-sec1">
                    <h3 class="heading-tittle">Our Vision</h3>
                    <div class="col-md-12 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">

                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info-product ">

                                <div class="info-product-price">
                                    <span class="item_price">
                                        <p>	We are constantly working to establish ourselves as the most respected and sought after contract cleaning and facilities support service in Australia and New Zealand. We seek to build a partnership philosophy based on solid and trusting relationships with our key stakeholders.</p>
                                    </span>

                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="product-sec1">
                    <h3 class="heading-tittle">Our Values</h3>
                    <div class="col-md-12 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">

                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info-product ">

                                <div class="info-product-price">
                                    <span class="item_price">
                                        <p>	Respect: taking time to understand and value each person and respecting their choices.</p>

                                        <p>Responsibility: acting with integrity towards staff,customers,community and the environment.</p>

                                        <p>Caring: a duty of care for our staff, customers and the environment.</p>

                                        <p>Excellence:to always look to provide the best quality experience with regards to our cleaning .</p>

                                        <p>Integrity: to act with honesty, openness, do what we say we will do.Buils customer satisfaction.</p>
                                        <p>
                                            Innovation: to be industry leaders.
                                        </p>
                                    </span>

                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="product-sec1">
                    <h3 class="heading-tittle">Our Objectives</h3>
                    <div class="col-md-12 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">

                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item-info-product ">

                                <div class="info-product-price">
                                    <span class="item_price">
                                        <p>	Our key objectives, fundamental to our business in delivering you world-class cleaning and customer service, are as follows:</p>
                                        <p>
                                            •	Provide our customers with a professional and friendly service.
                                        </p>

                                        <p>•	Meet or exceed the expectations of the management, staff and those visiting our client’s office, building or facilities.</p>

                                    </span>

                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <!-- //fourth section (noodles) -->
            </div>
        </div>

        <!-- //product right -->
    </div>
   

    <!-- //top products -->
    <div class="agileinfo-ads-display col-md-12">
        <div class="wrapper">
            <div class="product-sec1 product-sec2">
                <div class="col-xs-7 effect-bg">
                    <h3 class="">Pajns Ltd</h3>
                    <h6>Healthy Homes & Offices.</h6>
                    <p>Cleaner, Happier Environment.</p>
                </div>
                
                <div class="col-xs-5 bg-right-nut">
                    <img src="~/Contents/Home/images/22.jpeg" alt="">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!-- special offers -->
        <div class="featured-section">

            <div class="container">

                <!-- tittle heading -->
                <h3 class="tittle-w3l" id="Services">
                    Our Services
                    <span class="heading-style">
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                </h3>
                <!-- //tittle heading -->
                <div class="content-bottom-in">
                    <ul id="flexiselDemo1">
                        <li>
                            <div class="w3l-specilamk">
                                <div class="speioffer-agile">

                                </div>
                                <div class="product-name-w3l">
                                    <h4></h4>
                                    <div class="w3l-pricehkj">
                                        <h6>
                                            Home Cleaning
                                        </h6>
                                        <p>
                                            Your time is precious so let Pajns Ltd. take care of the home cleaning for you and get your home looking just the way you like it. Healthy, dependable & affordable home cleaning services that will leave your home looking great every time.
                                            We help people to achieve sustainability objective.
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="w3l-specilamk">
                                <div class="speioffer-agile">

                                </div>
                                <div class="product-name-w3l">
                                    <h4></h4>
                                    <div class="w3l-pricehkj">
                                        <h6>
                                            Commercial And Office Cleaning
                                        </h6>
                                        <p>
                                            Our customers vary from offices to day care centres. We’re proud that our approach creates a healthier environment for everyone. Commercial Cleaning Services includes:
                                            	Sweeping ,
                                           	Spot-cleaning marks ,
                                           	Vacuuming ,
                                            	Bathrooms ,
                                           	Mopping ,
                                           	Rubbish collection ,
                                          Dusting ,
                                           Recycling


                                        </p>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="w3l-specilamk">
                                <div class="speioffer-agile">

                                </div>
                                <div class="product-name-w3l">
                                    <h4></h4>
                                    <div class="w3l-pricehkj">
                                        <h6>
                                            Floor Care Services
                                        </h6>
                                        <p>
                                            We can deliver regular or periodic buffing and strip and polish service. These services maintain the flooring finish and lengthen the life of the covering. Our super eco-scrubber has helped one client to save 40% on water costs .We help ensure your floor continue to look great all year around.                                       </p>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="w3l-specilamk">
                                <div class="speioffer-agile">

                                </div>
                                <div class="product-name-w3l">
                                    <h4></h4>
                                    <div class="w3l-pricehkj">
                                        <h6>
                                            WashRoom Deep Clean
                                        </h6>
                                        <p>
                                            Normal cleaning of commercial washrooms frequently isn’t enough to keep them smelling fresh and hygienic. A Deep Clean will get into those hard to reach crevices and into the pipes themselves to remove build-up and microbes, as well as any unsightly build up on floors, walls.
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="w3l-specilamk">
                                <div class="speioffer-agile">

                                </div>
                                <div class="product-name-w3l">
                                    <h4></h4>
                                    <div class="w3l-pricehkj">
                                        <h6>
                                            Window Cleaning
                                        </h6>
                                        <p>
                                             A healthy workplace makes the most of natural light. We can take care of both internal and external windows to make sure your workplace is looking its best.With our window cleaning service
                                            you are able to create a residential window cleaning schedule that is both affordable and effective.
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="w3l-specilamk">
                                <div class="speioffer-agile">

                                </div>
                                <div class="product-name-w3l">
                                    <h4></h4>
                                    <div class="w3l-pricehkj">
                                        <h6>
                                            Carpet Cleaning
                                        </h6>
                                        <p>
                                            Carpet gets dirty. Whether it’s from food, wine, coffee, tea, makeup, wax, oil, rust, paint, pets, mud, dust or kids – life happens.
                                            We use the latest equipment & methods to ensure that we remain an industry leader. We have biodegradable products to keep your family and pets safe.

                                        </p>
                                    </div>

                                </div>

                            </div>

                        </li>







                    </ul>
                </div>
            </div>
        </div>

        <!-- //special offers -->
        <!-- newsletter -->
        <div class="footer-top" id="Contact">
            <div class="container-fluid">
                <div class="col-xs-8 agile-leftmk">
                    <h2>
                        Get In Touch With Us

                    </h2>
                    <p> <i class="fa fa-map-marker"></i> 586 Great South Road, Ellerslie</p>
                    <p>Auckland, New Zealand</p>
                    <p><i class="fa fa-phone"></i>  +64 22 033 0786</p>
                    <p>
                        <i class="fa fa-envelope-o"></i>
                        <a href="mailto:example@mail.com"> pajnsltd@gmail.com</a>
                    </p>
                    <div class="newsform-w3l">
                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="col-xs-4 w3l-rightmk">
                    <img src="~/Contents/Home/images/tab3.png" alt=" ">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        </div>
        <!-- //newsletter -->
        <div>
            @RenderBody()
        </div>
        <footer>
            <div class="container">
                <!-- footer first section -->
                <p class="footer-main">
                <p class="footer-main">
                    <span>"Our Franchise"</span> Our premium brand gives you greater income security and the potential to earn a higher hourly rate. We’ll provide all the equipment, products and processes you need to get your business off the ground.Our support team has great industry experience., hence we give you all the on-the-job training you need to establish your career as a professional cleaner and business operator.


                </p>
                <!-- //footer first section -->
              
                <div class="clearfix"></div>
                
            </div>
        </footer>
        <!-- //footer -->
        <!-- copyright -->
        <div class="copy-right">
            <div class="container">
                <p>
                    © 2017 Pajns Ltd. All rights reserved

                </p>
            </div>
        </div>
        <!-- //copyright -->
        <!-- js-files -->
        <!-- jquery -->
        <script src="~/Contents/Home/js/jquery-2.1.4.min.js"></script>
        <!-- //jquery -->
        <!-- popup modal (for signin & signup)-->
        <script src="~/Contents/Home/js/jquery.magnific-popup.js"></script>
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });

            });
        </script>
        <!-- Large modal -->
        <!-- <script>
        $('#').modal('show');
    </script> -->
        <!-- //popup modal (for signin & signup)-->
        <!-- cart-js -->
        <script src="~/Contents/Home/js/minicart.js"></script>
        
        <!-- //cart-js -->
        <!-- price range (top products) -->
        <script src="~/Contents/Home/js/jquery-ui.js"></script>
        <script>
            //<![CDATA[
            $(window).load(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 0,
                    max: 9000,
                    values: [50, 6000],
                    slide: function (event, ui) {
                        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                    }
                });
                $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

            }); //]]>
        </script>
        <!-- //price range (top products) -->
        <!-- flexisel (for special offers) -->
        <script src="~/Contents/Home/js/jquery.flexisel.js"></script>
        <script>
            $(window).load(function () {
                $("#flexiselDemo1").flexisel({
                    visibleItems: 3,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 5000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 2
                        }
                    }
                });

            });
        </script>
        <!-- //flexisel (for special offers) -->
        <!-- password-script -->
        <script>
            window.onload = function () {
                document.getElementById("password1").onchange = validatePassword;
                document.getElementById("password2").onchange = validatePassword;
            }

            function validatePassword() {
                var pass2 = document.getElementById("password2").value;
                var pass1 = document.getElementById("password1").value;
                if (pass1 != pass2)
                    document.getElementById("password2").setCustomValidity("Passwords Don't Match");
                else
                    document.getElementById("password2").setCustomValidity('');
                //empty string means no validation error
            }
        </script>
        <!-- //password-script -->
        <!-- smoothscroll -->
        <script src="~/Contents/Home/js/SmoothScroll.min.js"></script>
        <!-- //smoothscroll -->
        <!-- start-smooth-scrolling -->
        <script src="~/Contents/Home/js/move-top.js"></script>
        <script src="~/Contents/Home/js/easing.js"></script>
        <script>
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();

                    $('html,body').animate({
                        scrollTop: $(this.hash).offset().top
                    }, 1000);
                });
            });
        </script>
        <!-- //end-smooth-scrolling -->
        <!-- smooth-scrolling-of-move-up -->
        <script>
            $(document).ready(function () {
                /*
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                };
                */
                $().UItoTop({
                    easingType: 'easeOutQuart'
                });

            });
        </script>
        <!-- //smooth-scrolling-of-move-up -->
        <!-- for bootstrap working -->
        <script src="~/Contents/Home/js/bootstrap.js"></script>
        <!-- //for bootstrap working -->
        <!-- //js-files -->

</body>
</html>
